html,
body {
	margin: 0;
	padding: 0;
}

::-moz-selection {
	color: white;
	background-color: #17a2b8;
}

::selection {
	color: white;
	background-color: #17a2b8;
}

.medic__title {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #17a2b8;
}

.btn.medic__btn {
	color: white;
}

.btn.medic__btn:focus {
	box-shadow: none;
}

.medic__fas {
	padding-right: 5px;
}

.medic__control-panel {
	padding-bottom: 20px;
}

.medic__panel td {
	cursor: pointer;
	vertical-align: middle;
}

.medic__cell {
	text-align: center;
}

.medic__header {
	background-color: #17a2b8;
}

.medic__title-card {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.medic__card {
	padding: 0;
}

.medic__table {
	margin-bottom: 0;
	border: none;
}

.medic-col-1 {
	width: 40%;
}

.table-bordered thead th {
	border-bottom: none;
}

.medic-col-2 {
	width: 30%;
}

.medic-col-3 {
	width: 30%;
}

.medic__header td {
	cursor: pointer;
	vertical-align: middle;
	color: white;
}

.table-hover tbody tr:hover td {
	text-decoration: underline;
}

